:root {
    --primary: #1e90ff;
    --secondary: #e6e6e6;
    --positive: rgb(98, 202, 98);
    --negative: rgb(217, 73, 73);
    
}

* {
    margin: 0;
}

body {
    background-color: var(--secondary);
}

